*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: var(--font-family-rubik);
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
